# Local .terraform directories
**/.terraform/*

# Ignore variables files
*.auto.tfvars
*.tfvars
*.tfvars.json

# Ignore override files
*.tfoverride

# Ignore environment-specific files
.envrc

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore local state files  
*.tfstate
*.tfstate.*

# Ignore crash logs 
crash.log

# Ignore plan files
*.tfplan
